body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

/* Header part  */
header span{
  color: #7952b3;
}

/* Main part */
.card-bg{
  background-color: #7952b3;
}

.cart {
  width: 350px;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}

.cart-main {
  padding-right: 30px;
}
